@charset "utf-8";
#navigation {
    background-color: #AF6EA7;
    height: 80px;
    width: 905px;
    margin-right: auto;
    margin-left: auto;
	Border:2px solid #0E7B98
}
#banner {
    background-color: #BE65DB ;
    height: 150px;
    width: 905px;
    margin-right: auto;
    margin-left: auto;
}

#container {
    background-color: #CCB1E8;
    height: 700px;
    width: 905px;
    margin-right: auto;
    margin-left: auto;
}
